@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    /* warna */
    --pr-color : #52A5EB;
    --neu1 : #31393C;
    --neu2 : #DFDFDF;
    /* font */
    --title : 36px;
}

* {
    margin: 0;
    padding: 0;
}
.vid{
    position: relative;
    width: 100%;
    padding-bottom: 80px;
    overflow: hidden;
    box-shadow: -5px 0 2px 0 rgba(0,0,0,.4);
    height: 400px;
}
.vid h2{
    text-align: center;
    margin: auto;
    font-family: Inter;
    padding-bottom: 5px;
    width: 80%;
    border-bottom: solid 3px var(--pr-color);
    text-transfrom: uppercase;
}
.vid iframe{
    margin: 0 50%;
    transform: translateX(-50%);
}
.visimisi{
    width: 80%;
    height: auto;
    margin: auto;
}
.visimisi ol{
    width: 90%;
    margin: auto;
}
.visimisi p{
    width: 94%;
    margin: auto;
}
.visimisi h2{
    margin-top: 20px;
    font-family: Inter;
    padding-bottom: 20px;
    border-bottom: solid 3px var(--pr-color);
    text-transform: uppercase;
}
.visimisi h3{
    margin: 10px 0;
    font-family: Inter;
    width: 40px;
    padding-bottom: 2px;
    border-bottom: solid 4px var(--pr-color);
    text-transform: uppercase;
}
